<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Genre Listing</title>
    <link rel="stylesheet" href ="/css/main.css"><link>

</head>
<body>
        <header class = "main-header">
                <nav class = "main-header__nav">
                    <ul class = "main-header__item-list">
                            <li class = "main-header__items"><a href="/">Home</a></li>
                            <li class = "main-header__items"><a class="active" href="/genres/list-genre">Genre List</a></li>
                            <li class = "main-header__items"><a href="/genres/add-genre">Add Genre</a></li>
                    </ul>
                </nav>
            </header>
    <main>

        <h2>Genre Listing...</h2>

    </main>
</body>
</html>